<div class="container">
	<div class="row">
		{% if liste is not null %}
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Auteur</th>
						<th>Supprimer</th>
						<th>Editer</th>
					</tr>
				</thead>
				<tbody>
					{% for q in liste %}
						<tr>
							<td>{{ q.id }}</td>
							<td>{{ q.name }}</td>
							<td>{{ q.owner }}</td>
							<td>
								<a href="/liste/delete/{{ q.id }}">Supprimer</a>
							</td>
							<td>
								<a href="/liste/edit/{{ q.id }}">Editer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>No list found.</p>
		{% endif %}
	</div>
</div>

<a href="{{ path('index') }}">Retour au menu</a>
