{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<p>
		Vous êtes bien connecté en tant que
		{{ username }}
	</p>
	<p>API disponible via 127.0.0.1/api</p>
	<div class="row">
		<a href="{{ path('liste_new') }}">Créer une liste</a>
		<br>
		<a href="{{ path('task_new') }}">Créer une tâche</a>
		<br>
		<hr style="width:10%; margin-left:0;">
		<a href="{{ path('liste_all') }}">Voir les listes</a>
		<br>
		<a href="{{ path('task_all') }}">Voir les tâches</a>
		<br>
		<hr style="width:10%; margin-left:0;">
		<a href="{{ path('my_lists') }}">Editer mes listes</a>
		<br>
		<a href="{{ path('my_tasks') }}">Editer mes tâches</a>
		<br>
		<hr style="width:10%; margin-left:0;">
	</div>
	<a href="{{ path('app_logout') }}">Déconnexion</a>

{% else %}
	<a href="{{ path('app_login') }}">Se connecter</a>
	<br>
	<a href="{{ path('app_register') }}">S'enregistrer</a>
{% endif %}
