<h1>
	Edition d'une tâche
</h1>
<div class="container">
	<div class="row">
		{{ form_start(form) }}
		<table>
			<tbody>
				<tr>
					<th>Description de la tâche:</th>
					<td>{{ form_widget(form.description) }}</td>
				</tr>
				<tr>
					<th>Id de la liste de la tâche:</th>
					<td>{{ form_widget(form.id_liste) }}</td>
				</tr>
				<tr>
					<th></th>
					<td>{{ form_widget(form.save) }}</td>
				</tr>
			</tbody>
		</table>
		{{ form_end(form) }}
	</div>
</div></body></html>
